h1 {
  font-family: var(--secondary-font);
  font-size: 5rem;
}


h4 {
  font-family: var(--main-font);
  color: var(--secondary-color)
}


img.responsive-img.col.m5.noGutter {
  padding: 0;
}


div.row.banner.flex {
  border-bottom: var(--accent-color) solid 3px;
  height: 100%;
}

.card-title {
  font-family: var(--main-font);
  font-weight: bold;
}


.banner {
  background-color: var(--secondary-color);
}

#landingcard {
  background-color: var(--main-color);
  color: white;
  left: 15%;
  width: 100%;
  height: 80%;
  z-index: 10;
}

#landingCardContent {
  margin-top: 5%;
}


#landingForMobile {
  display: none;
}




@media only screen and (max-width: 1300px) {

  div.col.m6.l4.vertAlign{
    display: none;
  }

  #landingCardContent {
    margin-top: 10%;
  }
  #landingcard {
    left: 20%;
  }
  
}


@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
  h4{
    font-size:2rem;
  }

  div.col.m6.l4.vertAlign{
    display: none;
  }

  #landingCardContent {
    margin-top: 15%;
  }
  #landingcard {
    left: 20%;
  }
  
}




@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  h4{
    font-size:1.5rem;
  }

  div.col.m6.l4.vertAlign{
    display: none;
  }

  #landingCardContent {
    margin-top: 10%;
  }
  #landingcard {
    left: 20%;
  }
  
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width:600px) {
  div.row.banner.flex{
    display: none;
  }
 
  #landingForMobile {
    display: block;
  }


}

