h1 {
  font-family: var(--secondary-font);
  font-size: 5rem;
}


h4 {
  font-family: var(--main-font);
  color: var(--secondary-color)
}


img.responsive-img.col.m5.noGutter {
  padding: 0;
}


div.row.banner.flex {
  border-bottom: var(--accent-color) solid 3px;
  height: 100%;
}

.card-title {
  font-family: var(--main-font);
  font-weight: bold;
}


.banner {
  background-color: var(--secondary-color);
}

#landingcard {
  background-color: var(--main-color);
  color: white;
  left: 15%;
  width: 100%;
  height: 80%;
  z-index: 10;
}

#landingCardContent {
  margin-top: 15%;
}




