.collection {
  border: none;
}

.collection .collection-item {
  background: #fafafa;
}


.avatar {
  display: block;
}

h3 {
  font-size: 1.5rem;
}

ul,
h3 {
  text-align: center;
  font-family: var(--main-font);
}

@media only screen and (max-width: 768px) {
  
  
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width:600px) {
  div.row.banner.flex{
    display: none;
  }

  .card.medium{
    height: fit-content;
  }
  .card.medium .card-action {
    bottom: -40px;
    /* margin-bottom: 40px; */
  }

  #DGCCardAction{
    bottom: -100px;
    margin-bottom: 100px;
  }

}