:root {
  --main-font: 'Raleway', sans-serif;
  --secondary-font: 'Merriweather', serif;
  --main-color: #00264C;
  --secondary-color: #A3ABB0;
  --tertiary-color: #69124A;
  --accent-color: #ffab40;
;}

html {
  scroll-behavior: smooth;
}

/* ffab40
orange accent-2 */

/* pewter: #D4D0D0
grey: #A3ABB0
charcoal: #36454F
 */
/* Maroon #69124A
Dark BLue #080B39
Midnight Blue 14527C
pink #F248B6 */

body {
  background-color: var(--main-color);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* for sticky footer remove and add top margin for content if  */
main {
  flex: 1 0 auto;
}

h2 {
  color: var(--accent-color);
}

hr {
  background-color: var(--accent-color);
  color: var(--accent-color);
}



label{
  padding-bottom: 10px;
  display:block;
  font-size: 1rem;
}


footer {
  text-align: center;
  font-family: var(--secondary-font);
  color: #36454F;
  padding: 10px 0px;
  background-color: var(--secondary-color);
  border-top: var(--accent-color) solid 2px;
}

h2 {
  font-family: var(--secondary-font);
  font-size: 2rem;
  text-align: center;
}



p {
  font-family: var(--main-font);
  font-size: 1.25rem;
  line-height: 1.4rem;
}



blockquote {
  border-left-color: var(--secondary-color);
}

.vertAlign {
 align-items: center;
 justify-content: center;
 display: flex;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}


ul#mobileNavBar.sidenav, .sidenav li>a {
  background-color:var(--secondary-color);
}





.card {
  border: none;
  background: #fafafa;
}


/* full page nav bar */
nav {
  background-color: var(--main-color);
  border-bottom: var(--accent-color) solid 3px;
}

.navbar-fixed {
  height: 64px;
}

.navLink {
  color: var(--secondary-color);
  font-size: 1.25rem;
  font-family: var(--main-font);
}

img.navLogo {
  height: 60px;
}













.socialMediaicon {
  margin-bottom: 12px;
}






.center {
  text-align: center;
}

.contactList {
  text-align: left;
}

/* .material-icons {
  font-size: 20px;
  color: black;
  line-height: 0.7;
}

i.material-icons {
  margin-bottom: -20px;
}

.hamburgerIcon {
  display: none;
} */


#hamburgerTrigger{
  color: var(--secondary-color);
}


#skillsTitle {
  text-align: left;
}

#contactTitle {
  text-align: left;
}

#resume {
  margin-left: 0px;
  margin-right: 0px;
}

#emailIcon {
  line-height: 0.7;
}





/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #seaTurtleLogo {
      width: 70%;
      height: auto;
      margin-top: 25px;
      margin-left: auto;
      margin-right: auto;
  }
}


@media only screen and (min-width: 2000px) {
  #seaTurtleLogo {
      width: 81%;
      height: auto;

  }

  #placeholderFor2020 {
      width: 86%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .card-image {
      display: none;
  }

  .navLink {
      font-size: 1.25rem;
      padding: 7px 16px;
      display: block;
      text-decoration: none;
      background: #36454F;
      color: #D4D0D0;
  }

  .hamburgerIcon {
      background: black;
      display: block;
      color: White;
      position: absolute;
      right: 10px;
      top: 20px;
  }

  #hamburgerIconStyling {
      height: 50%;
  }

  #headerLinksBucket {
      display: none;
      top: 8%;
      border: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 767px) {

  .navLink {
      font-size: 1.75rem;
      padding: 7px 16px;
      display: block;
      text-decoration: none;
      background: #36454F;
      color: #D4D0D0;
  }

  .card-image {
      display: none;
  }

  .hamburgerIcon {
      background: black;
      display: block;
      color: White;
      position: absolute;
      right: 10px;
      top: 20px;
      height: 5rem;
  }

  #hamburgerIconStyling {
      height: 2rem;
  }

  #headerLinksBucket {
      display: none;
      top: 5%;
  }

}